/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0b2327 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c2c8c9; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c2c8c9; background-color: rgba(7,100,170,0.4)}
.cm-s-nqqwal { background-color: #0b2327; color: #c2c8c9; }
.cm-s-nqqwal span.cm-builtin { color: #19a7c6; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #485a5d; }
.cm-s-nqqwal span.cm-keyword { color: #0d8db4; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #0277aa; }
.cm-s-nqqwal span.cm-def { color: #1574aa; }
.cm-s-nqqwal span.cm-variable { color: #0764aa; }
.cm-s-nqqwal span.cm-variable-2 { color: #1574aa; }
.cm-s-nqqwal span.cm-string { color: #19a7c6; }
.cm-s-nqqwal span.cm-string-2 { color: #19a7c6; }
.cm-s-nqqwal span.cm-number { color: #1574aa; }
.cm-s-nqqwal span.cm-tag { color: #0d8db4; }
.cm-s-nqqwal span.cm-property { color: #0764aa; }
.cm-s-nqqwal span.cm-attribute { color: #0764aa; }
.cm-s-nqqwal span.cm-qualifier { color: #0277aa; }
.cm-s-nqqwal span.cm-meta { color: #1574aa; }
.cm-s-nqqwal span.cm-header { color: #0d8db4; }
.cm-s-nqqwal span.cm-operator { color: #0d8db4; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(21,116,170,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #0d8db4; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0b2327); }
